.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(12, 10px);
  justify-content: center;
}

.indicator {
  grid-column: auto;
  grid-row: auto;
}

.RED {
  background-color: red;
}

.ORANGE {
  background-color: orange;
}

.YELLOW {
  background-color: yellow;
}

.GREEN {
  background-color: green;
}

.BLUE {
  background-color: blue;
}

.INDIGO {
  background-color: indigo;
}

.VIOLET {
  background-color: violet;
}

.PINK {
  background-color: pink;
}

.WHITE {
  background-color: white;
}

.BLACK {
  background-color: black;
}

.select.RED {
  grid-column: 1;
  grid-row: 11;
  background-color: red;
}

.select.ORANGE {
  grid-column: 2;
  grid-row: 11;
  background-color: orange;
}

.select.YELLOW {
  grid-column: 3;
  grid-row: 11;
  background-color: yellow;
}

.select.GREEN {
  grid-column: 4;
  grid-row: 11;
  background-color: green;
}

.select.BLUE {
  grid-column: 5;
  grid-row: 11;
  background-color: blue;
}

.select.INDIGO {
  grid-column: 6;
  grid-row: 11;
  background-color: indigo;
}

.select.VIOLET {
  grid-column: 7;
  grid-row: 11;
  background-color: violet;
}

.select.PINK {
  grid-column: 8;
  grid-row: 11;
  background-color: pink;
}

.select.WHITE {
  grid-column: 9;
  grid-row: 11;
  background-color: white;
}

.select.BLACK {
  grid-column: 10;
  grid-row: 11;
  background-color: black;
}
